<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %> <%= htmlWebpackPlugin.options.version %> | <%= htmlWebpackPlugin.options.author %></title>
</head>
<body>
  <span class="home__version--fixed">
    <pre class="mono"><%= htmlWebpackPlugin.options.version %></pre>
  </span>
  <div class="home__dashboard">
    <div class="dashboard__header">
      <div class="dashboard__header--balance">
        <h3>Your balance:</h3>
        <span class="bitcoin--balance"></span>
      </div>
      <div class="dashboard__header--dropdown">
        <form>
          <label for="currency">Currency</label>
          <select id="currency" class="home__select--currency" name="currency"></select>
          <label for="other">Exchange</label>
          <select id="exchange" class="home__select--other" name="other"></select>
        </form>
      </div>
    </div>

    <div class="dashboard__panel">
      <div class="content">
        <table class="home__table">
          <thead>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="/index.bundle.js"></script>
</body>
</html>
