@import 'variables';

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    background: $light-gray;
    font-family: $mark;
}
.mono {
    font-family: $mono;
}
