@import 'variables';

html {
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.mono {
  font-family: $mono;
}
body {
  background: $lightgray;
  font-family: 'Mark';
}
