@import 'variables';
@import 'table-transform';

.row__currency--selected {
    background-color: darkgoldenrod;
}
.home {
    &__version--fixed {
        position: fixed;
        right: 0;
        padding: 0 1em;
        color: green;
        font-weight: bold;
    }
    &__dashboard {
        border: 1px dotted royalblue;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
.dashboard {
    &__panel {
        border: 1px dashed salmon;
        margin: 1rem;
        display: flex;
        flex-flow: row wrap;

        &.center {
            justify-content: center;
        }

        h3 {
            border: 1px solid darkblue;
            text-align: center;
            width: 100%;
        }
        form {
            border: 1px solid rebeccapurple;
            padding: 0.3em;
            flex-basis: 20%;
            box-sizing: border-box;
        }
        table {
            border: 1px solid aquamarine;
            box-sizing: border-box;
            padding: 0.3em;
            flex-basis: 80%;

            td {
                text-align: right;
                border: 1px solid black;
            }
            th {
                text-align: center;
                height: 3em;
                border: 1px solid black;
            }
        }
    }
}

.bitcoin {
    &--balance{
        font-size: 2.5rem;
        text-align: center;

        &:after{ content: "BTC"; font-size: 1.7rem; }
    }
}

@media (max-width: $breakpoint-table-desktop) {
    .dashboard__panel {
        flex-direction: column;

        form {
            flex-basis: 100%;
        }
    }
}
