@import 'variables';
@import 'table-transform';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.mono {
  font-family: $mono;
}
body {
  background: $lightgray;
  font-family: 'Mark';
  padding: 1.5rem;
}

.home {
    &__version--fixed {
        position: fixed;
        top: 0;
        right: 0;
        background: $black;
        padding: 0 .5rem;
        color: white;
        font-size: 0.8rem;
        font-weight: normal;
    }
    &__dashboard {
        background: white;
        // border: 1px dotted royalblue;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 3px;
    }
}
.dashboard {
    &__header {
      display: flex;
      justify-content: center;
      background: $blue;
      padding: 2rem 0;
      border-radius: 3px 3px 0 0;
      h3 {
        color: white;
        font-size: 2rem;
      }
    }
    &__panel {
        border: 1px dashed salmon;
        margin: 1rem;
        display: flex;
        flex-flow: row wrap;
        flex-grow: 1;
        .header {
          background: $pink;
          width: 100%;
          padding: 1rem;
          display: flex;
          justify-content: center;
          h3 {
              border: 1px solid darkblue;
              text-align: center;
          }
        }
        .content {
          display: flex;
          flex-basis: 100%;

          form {
              border: 1px solid rebeccapurple;
              padding: 0.3em;
              flex-basis: 20%;
              box-sizing: border-box;
          }
          table {
              border: 1px solid aquamarine;
              box-sizing: border-box;
              padding: 0.3em;
              flex-basis: 80%;

              td {
                  text-align: right;
                  border: 1px solid black;
                  font-family: $mono;
              }
              th {
                  text-align: center;
                  height: 3em;
                  border: 1px solid black;
              }
          }
        }
    }
}

@media (max-width: $breakpoint-table-desktop) {
    .dashboard__panel {
        flex-direction: column;

        form {
            flex-basis: 100%;
        }
    }
}
