/*  
    source: https://css-tricks.com/responsive-data-tables/
*/
@import 'variables';
@media (max-width: $breakpoint-table-desktop) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Currency"; }
	td:nth-of-type(2):before { content: "15m"; }
	td:nth-of-type(3):before { content: "Last"; }
	td:nth-of-type(4):before { content: "Buy"; }
    td:nth-of-type(5):before { content: "Sell"; }
    td:nth-of-type(6):before { content: "Symbol"; }
}