// Fonts
@import 'font';
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

// Colours
$light-gray: #F7F7F7;
$black: #151E6B;
$dark-blue: #1A2BC4;
$blue: #158AFF;
$light-blue: #21DBF9;
$purple: #B143FF;
$pink: #FD7DA1;
$cream: #FCBA9E;
$yellow: #FFF162;

// Fonts
$mono: 'Space Mono', monospace;
$mark: 'Mark', Helvetica, Arial, sans-serif;

$tablet: 991px;
$small-tablet: 767px;
$phone: 479px;
