// Fonts
@import 'font';
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

$breakpoint-table-desktop: 640px;

// Colours
$lightgray: #f4f4f4;
$black: #151E6B;
$darkblue: #1A2BC4;
$blue: #158AFF;
$lightblue: #21DBF9;
$purple: #B143FF;
$pink: #FD7DA1;
$cream: #FCBA9E;
$yellow: #FFF162;


// Fonts
$mono: 'Space Mono', monospace;
