// Fonts
@import 'font';
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

// Colours
$lightgray: #F4F4F4;
$gray: #F7F7F7;
$darkgray: #C7C7C7;
$black: #151E6B;
$darkblue: #1A2BC4;
$blue: #158AFF;
$lightblue: #21DBF9;
$purple: #B143FF;
$pink: #FD7DA1;
$cream: #FCBA9E;
$yellow: #FFF162;


// Fonts
$mono: 'Space Mono', monospace;

$breakpoint-tablet: 991px;
$breakpoint-small-tablet: 767px;
$breakpoint-phone: 479px;
